<h1>Users</h1>
    
    <% @posts.each do |post| %>
    <div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-2">
                <%= image_tag '91112fafd56e281861785a657b0e48ad.png', class: "card-img-top rounded-circle" , :style => "height: 50px; width: 50px; object-fit: cover;"%>
            </div>
            <div class="col">
                <h5> <a href="/users/<%= find_user(post.user_id).username%>"> <%= find_user(post.user_id).username %> </a> </h5>
            </div>
            <div class="col text-muted">
                <p><%= post.created_at %></p>
            </div>
            <% if post.user_id == current_user&.id %>
            <div class="col">
                <%= link_to  edit_post_path(post) , :class => 'action edit' do %> Edit<% end %> 
            </div>
            <div class="col">
                <%= link_to( delete_post_path(post), :class => 'action delete') do %> Delete<% end %>
            </div>
            <% end %>
            <div class="col">
                <div class="dropdown d-inline-block">
                <button class="btn btn-secondary dropdown-toggle glyphicon glyphicon-collapse-down" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% if post.user_id == current_user&.id %>
                <a class="dropdown-item">
                    <%= link_to  edit_post_path(post) , :class => 'action edit' do %> Edit<% end %> 
                </a>
                <a class="dropdown-item">
                    <%= link_to( delete_post_path(post), :class => 'action delete') do %> Delete<% end %>
                </a>
                <% end %>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
      <div class="row">
         <div class="col">
            <h6>Track</h6>
            <p><%= post.track %></p>
         </div>
         <div class="col">
            <h6>Tyre:</h6>
            <p><%= post.tyre %></p>
         </div>
         <div class="col">
            <h6>Weather:</h6>
            <p><%= post.weather %></p>
         </div>
      </div>
      <div class="row">
         <div class="col">
            <h6>Car</h6>
            <p><%= post.car %></p>
         </div>
         <div class="col">
            <h6>Lap Time</h6>
            <p><%= post.lap_time %></p>
         </div>
      </div>
   </div>
  <% end %>

