<table>
  <tr>
    <th>Track</th>
    <td><%= f.text_field(:track) %></td>
  </tr>
  <tr>
    <th>Car</th>
    <td><%= f.text_field(:car) %></td>
  </tr>
  <tr>
    <th>Lap Time</th>
    <td><%= f.text_field(:lap_time) %></td>
  </tr>
  <tr>
    <th>Tyre</th>
    <td><%= f.text_field(:tyre) %></td>
  </tr>
  <tr>
    <th>Weather</th>
    <td><%= f.text_field(:weather) %></td>
  </tr>
  <tr>
    <th>Event Time and Date</th>
    <td><%= f.text_field(:event_time_date) %></td>
  </tr>
</table>
