<table>
  <tr>
    <th>Track</th>
    <td><%= f.text_field(:track) %></td>
  </tr>
  <tr>
    <th>Car</th>
    <td><%= f.text_field(:car) %></td>
  </tr>
  <tr>
    <th>Lap Time</th>
    <td><%= f.text_field :lap_time , autocomplete: "phone Number", placeholder: "00:00:000" , 'data-mask': '00:00:000' %></td>
  </tr>
  <tr>
    <th>Tyre</th>
    <td><%= f.text_field(:tyre) %></td>
  </tr>
  <tr>
    <th>Weather</th>
    <td><%= f.text_field(:weather) %></td>
  </tr>
</table>
